openapi: 3.0.3
info:
  title: 'API Documentation - iCore - mini platforma blogowa'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.icore.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 117
                    name: 'Petra Lang'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-06T12:22:25.000000Z'
                    updated_at: '2022-10-06T12:22:25.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 117
                      name: 'Petra Lang'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T12:22:25.000000Z'
                      updated_at: '2022-10-06T12:22:25.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - 'Authenticated user'
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.icore.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 114
                    name: 'Guy Metz'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-06T12:22:24.000000Z'
                    updated_at: '2022-10-06T12:22:24.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 114
                      name: 'Guy Metz'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/categories/post/index:
    post:
      summary: "Index of post's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1152
                      name: 'Qui qui'
                      slug: qui-qui
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                    -
                      id: 1153
                      name: 'Qui aliquam'
                      slug: qui-aliquam
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1152
                        name: 'Qui qui'
                        slug: qui-qui
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                      -
                        id: 1153
                        name: 'Qui aliquam'
                        slug: qui-aliquam
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1150
                      name: 'Nulla maiores'
                      slug: nulla-maiores
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                    -
                      id: 1151
                      name: 'Velit dolor'
                      slug: velit-dolor
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1150
                        name: 'Nulla maiores'
                        slug: nulla-maiores
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                      -
                        id: 1151
                        name: 'Velit dolor'
                        slug: velit-dolor
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 176
                      slug: consequatur-tenetur-quis-possimus-ut-debitis
                      title: 'Consequatur tenetur quis possimus ut debitis.'
                      short_content: 'Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum volupta'
                      content: 'Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.'
                      content_html: '<p>Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.</p>'
                      no_more_content_html: '<p>Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.</p>'
                      less_content_html: '<p>Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.</p>'
                      seo_title: 'Eum et id harum reiciendis sed.'
                      meta_title: 'Eum et id harum reiciendis sed.'
                      seo_desc: 'Vitae ducimus ut molestias sed mollitia tempora dolores. Numquam expedita repellendus sit cumque id. Nam facilis quae et. A earum a a porro fugit.'
                      meta_desc: 'Vitae ducimus ut molestias sed mollitia tempora dolores. Numquam expedita repellendus sit cumque id. Nam facilis quae et. A earum a a porro fugit.'
                      seo_noindex: 0
                      seo_nofollow: 1
                      status:
                        value: 1
                        label: active
                      comment: 0
                      first_image: null
                      published_at: '2022-05-19T10:22:45.000000Z'
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                      user:
                        id: 115
                        name: 'Jeff Harris'
                        status:
                          value: 0
                          label: inactive
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/consequatur-tenetur-quis-possimus-ut-debitis'
                    -
                      id: 177
                      slug: omnis-natus-ut-dicta-reiciendis-quo
                      title: 'Omnis natus ut dicta reiciendis quo.'
                      short_content: 'Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libe'
                      content: 'Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.'
                      content_html: '<p>Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.</p>'
                      no_more_content_html: '<p>Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.</p>'
                      less_content_html: '<p>Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.</p>'
                      seo_title: 'Id ut est tenetur.'
                      meta_title: 'Id ut est tenetur.'
                      seo_desc: 'Ipsa ex distinctio non repellendus sed est. Rerum esse est ut vel minus a corrupti. Alias necessitatibus aut est blanditiis ut dolore inventore.'
                      meta_desc: 'Ipsa ex distinctio non repellendus sed est. Rerum esse est ut vel minus a corrupti. Alias necessitatibus aut est blanditiis ut dolore inventore.'
                      seo_noindex: 0
                      seo_nofollow: 0
                      status:
                        value: 1
                        label: active
                      comment: 1
                      first_image: null
                      published_at: '2022-03-13T21:08:54.000000Z'
                      created_at: '2022-10-06T12:22:24.000000Z'
                      updated_at: '2022-10-06T12:22:24.000000Z'
                      user:
                        id: 116
                        name: 'Yasmin Boyer Jr.'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/omnis-natus-ut-dicta-reiciendis-quo'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 176
                        slug: consequatur-tenetur-quis-possimus-ut-debitis
                        title: 'Consequatur tenetur quis possimus ut debitis.'
                        short_content: 'Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum volupta'
                        content: 'Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.'
                        content_html: '<p>Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.</p>'
                        no_more_content_html: '<p>Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.</p>'
                        less_content_html: '<p>Dicta accusantium non corporis quam in quia molestiae. Est occaecati occaecati tenetur blanditiis. Et voluptas rem soluta magnam. Hic rem id at et. Et voluptatum facere et. Voluptatem dolorem ratione repellat dolor voluptatem et asperiores similique. Tempore est consequatur esse. Magni sunt voluptatem qui voluptatem dolorem dolorem. Eius vitae earum optio dolorem explicabo in. Ad ipsa quis quisquam ea. Aut et molestiae consequatur nam est consequuntur quaerat error. Eveniet aliquam rerum voluptatum aut non. Dolores autem beatae cumque ad quod. Ab numquam aut maxime magnam ut id. Aliquam deleniti hic in itaque. Aspernatur incidunt ut id natus voluptas officiis earum. Adipisci ipsum corrupti ipsam dolores vel possimus. Voluptate molestiae et nam est est vel. Illo esse quaerat dolor et recusandae soluta error. Nisi sed cupiditate laudantium porro id. Nisi quam non quis quisquam minus. A quaerat hic quia molestiae qui. Expedita beatae ut enim qui esse necessitatibus. Est et culpa at amet qui ducimus ad. Et quo voluptates voluptas sunt repudiandae quasi consequatur. Recusandae accusantium sint ut omnis nobis. Enim libero fugit impedit ipsa ut inventore voluptatibus. Repudiandae sint natus veniam voluptate sunt et. Sunt minima natus dolorum molestiae et cupiditate. Et animi autem quo magni dolores. Et consequatur enim reiciendis et consequatur non facere. Est iusto mollitia ad animi possimus facere et aliquam. Quas et in in amet et. Nobis enim accusantium et et aut. Exercitationem illum temporibus est reprehenderit. Harum commodi ipsa expedita quia et voluptas. Natus consequuntur qui vel quisquam aut error nam. Cum ut ut quam ducimus eveniet ducimus exercitationem. Id quas ratione voluptatum. Perferendis modi voluptatem iste dolores natus provident aliquid. Et perspiciatis ullam quaerat consectetur nihil. Qui cupiditate est quaerat. Eos fugiat dolor adipisci. Facilis et perferendis voluptatem. Consequatur fuga soluta natus aliquam qui qui error.</p>'
                        seo_title: 'Eum et id harum reiciendis sed.'
                        meta_title: 'Eum et id harum reiciendis sed.'
                        seo_desc: 'Vitae ducimus ut molestias sed mollitia tempora dolores. Numquam expedita repellendus sit cumque id. Nam facilis quae et. A earum a a porro fugit.'
                        meta_desc: 'Vitae ducimus ut molestias sed mollitia tempora dolores. Numquam expedita repellendus sit cumque id. Nam facilis quae et. A earum a a porro fugit.'
                        seo_noindex: 0
                        seo_nofollow: 1
                        status:
                          value: 1
                          label: active
                        comment: 0
                        first_image: null
                        published_at: '2022-05-19T10:22:45.000000Z'
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                        user:
                          id: 115
                          name: 'Jeff Harris'
                          status:
                            value: 0
                            label: inactive
                          created_at: '2022-10-06T12:22:24.000000Z'
                          updated_at: '2022-10-06T12:22:24.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/consequatur-tenetur-quis-possimus-ut-debitis'
                      -
                        id: 177
                        slug: omnis-natus-ut-dicta-reiciendis-quo
                        title: 'Omnis natus ut dicta reiciendis quo.'
                        short_content: 'Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libe'
                        content: 'Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.'
                        content_html: '<p>Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.</p>'
                        no_more_content_html: '<p>Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.</p>'
                        less_content_html: '<p>Consequatur ut qui suscipit eum et voluptatibus nisi. Architecto excepturi omnis aut voluptates. Odio laboriosam deserunt dolor perspiciatis. Aliquid sunt non dolores non reprehenderit fugiat. Ab illo eveniet rerum commodi mollitia rem. Velit aut dolorum impedit sit. Ea et nemo voluptate quod eum cum. Quod consequuntur debitis exercitationem error sit eligendi. Est quo voluptates minus aut dolor praesentium. Neque reiciendis magni atque tenetur et. Harum voluptas earum praesentium autem sit libero sint. Laudantium enim quia voluptatem cumque ut expedita asperiores. Ab voluptate quasi et rerum dolorem tempora. Error expedita voluptatem asperiores voluptas occaecati non neque inventore. Omnis natus aut recusandae et incidunt. A iste dolore minus aut qui eos. Dolore maiores quas praesentium veniam. Omnis libero repellendus odio unde ducimus ut fuga. Quia facilis molestias atque ad ex aut fugiat. Voluptas amet sit voluptatibus omnis consequatur rerum voluptatum non. Deserunt distinctio quia maxime enim expedita nulla. Reprehenderit atque deleniti molestias labore. Voluptas qui ea vero ut sed. At quo tempore ullam est eligendi. Sed dolorem consectetur quia repellat voluptas. Incidunt aperiam enim eligendi exercitationem dignissimos cupiditate harum. Dolor ut qui quod itaque dolores itaque. Delectus minima aspernatur necessitatibus. Aliquid perferendis voluptates eos quas. Provident quas minus laboriosam perferendis et ipsam. Asperiores iure reprehenderit ducimus omnis saepe quisquam ut. Non dicta saepe a. Nam aut quas sequi commodi amet ut. Culpa illo neque consequatur perspiciatis. Quia sed laudantium repudiandae exercitationem sit et. Quae iusto ut qui dicta. Labore aspernatur mollitia magni id esse sint. Non ex et et non rerum in. Ea animi perferendis ut eligendi excepturi. Temporibus sit est repellendus dolores nihil et exercitationem. Quos voluptas in beatae nisi ullam. Occaecati quisquam rerum magnam optio laudantium.</p>'
                        seo_title: 'Id ut est tenetur.'
                        meta_title: 'Id ut est tenetur.'
                        seo_desc: 'Ipsa ex distinctio non repellendus sed est. Rerum esse est ut vel minus a corrupti. Alias necessitatibus aut est blanditiis ut dolore inventore.'
                        meta_desc: 'Ipsa ex distinctio non repellendus sed est. Rerum esse est ut vel minus a corrupti. Alias necessitatibus aut est blanditiis ut dolore inventore.'
                        seo_noindex: 0
                        seo_nofollow: 0
                        status:
                          value: 1
                          label: active
                        comment: 1
                        first_image: null
                        published_at: '2022-03-13T21:08:54.000000Z'
                        created_at: '2022-10-06T12:22:24.000000Z'
                        updated_at: '2022-10-06T12:22:24.000000Z'
                        user:
                          id: 116
                          name: 'Yasmin Boyer Jr.'
                          status:
                            value: 1
                            label: active
                          created_at: '2022-10-06T12:22:24.000000Z'
                          updated_at: '2022-10-06T12:22:24.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/omnis-natus-ut-dicta-reiciendis-quo'
                    items:
                      type: object
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.categories.view) 0, 2.'
                      example: 1
                    category:
                      type: integer
                      description: 'ID of category contains posts.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/tags/index:
    post:
      summary: 'Index of tags'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 179
                      name: Necessitatibus
                      slug: necessitatibus
                      created_at: '2022-10-06T12:22:25.000000Z'
                      updated_at: '2022-10-06T12:22:25.000000Z'
                    -
                      id: 180
                      name: Esse
                      slug: esse
                      created_at: '2022-10-06T12:22:25.000000Z'
                      updated_at: '2022-10-06T12:22:25.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 179
                        name: Necessitatibus
                        slug: necessitatibus
                        created_at: '2022-10-06T12:22:25.000000Z'
                        updated_at: '2022-10-06T12:22:25.000000Z'
                      -
                        id: 180
                        name: Esse
                        slug: esse
                        created_at: '2022-10-06T12:22:25.000000Z'
                        updated_at: '2022-10-06T12:22:25.000000Z'
                    items:
                      type: object
      tags:
        - Tags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>sum|asc</code>, or <code>sum|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/tokens:
    post:
      summary: 'Create token'
      description: "Create personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.create.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be between 3 and 255 characters.'
                  example: Access
                expiration:
                  type: integer
                  description: 'Token expiration time on days. If null is unlimited. Must not be greater than 1000.'
                  example: 7
                abilities:
                  type: array
                  description: 'Array containing scopes. Wildcard supported. Must be one of <code>api.*</code>, <code>api.users.*</code>, <code>api.users.view</code>, <code>api.categories.*</code>, <code>api.categories.view</code>, <code>api.tags.*</code>, <code>api.tags.view</code>, <code>api.posts.*</code>, <code>api.posts.view</code>, <code>api.tokens.*</code>, <code>api.tokens.create</code>, or <code>api.tokens.delete</code>.'
                  example:
                    - 'api.*'
                  items:
                    type: string
              required:
                - name
                - abilities
  '/api/tokens/{token_id}':
    delete:
      summary: 'Delete token'
      description: "Delete personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.delete.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Tokens
    parameters:
      -
        in: path
        name: token_id
        description: 'The ID of the token.'
        example: null
        required: true
        schema:
          type: integer
  /api/users/index:
    post:
      summary: 'Index of users'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.users.view and admin.users.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 118
                      name: 'Mrs. Autumn Harber IV'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T12:22:25.000000Z'
                      updated_at: '2022-10-06T12:22:25.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                    -
                      id: 119
                      name: 'Vivianne Treutel'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T12:22:25.000000Z'
                      updated_at: '2022-10-06T12:22:25.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 118
                        name: 'Mrs. Autumn Harber IV'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-10-06T12:22:25.000000Z'
                        updated_at: '2022-10-06T12:22:25.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                      -
                        id: 119
                        name: 'Vivianne Treutel'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-10-06T12:22:25.000000Z'
                        updated_at: '2022-10-06T12:22:25.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                    items:
                      type: object
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.users.view).'
                      example: 1
                    role:
                      type: integer
                      description: ''
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, or <code>updated_at|desc</code>.'
                      example: updated_at|desc
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
tags:
  -
    name: 'Authenticated user'
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/user.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\UserController"
  -
    name: Authentication
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/auth.php\n\n> Controllers:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\RegisterController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\TokenController"
  -
    name: Categories
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/categories.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\CategoryController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\Post\\CategoryController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Category\\CategoryResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.categories.* - access to all categories endpoints\n- api.categories.view - access to endpoints with collection of categories"
  -
    name: Posts
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/posts.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Post\\PostController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Post\\PostResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.posts.* - access to all posts endpoints\n- api.posts.view - access to endpoints with collection of posts"
  -
    name: Tags
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tags.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Tag\\TagController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Tag\\TagResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tags.* - access to all tags endpoints\n- api.tags.view - access to endpoints with collection of tags"
  -
    name: Tokens
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tokens.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Token\\TokenController\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tokens.* - access to all tokens endpoints\n- api.tokens.create - access to create token endpoint\n- api.tokens.delete - access to delete token endpoint"
  -
    name: Users
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/users.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\User\\UserController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\User\\UserResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.users.* - access to all users endpoints\n- api.users.view - access to endpoints with collection of users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
