openapi: 3.0.3
info:
  title: 'API Documentation - iCore - mini platforma blogowa'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.icore.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 106
                    name: 'Madalyn Predovic'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-10T09:53:46.000000Z'
                    updated_at: '2022-05-10T09:53:46.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 106
                      name: 'Madalyn Predovic'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-10T09:53:46.000000Z'
                      updated_at: '2022-05-10T09:53:46.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - 'Authenticated user'
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.icore.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 103
                    name: 'Amie Bauch'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-10T09:53:42.000000Z'
                    updated_at: '2022-05-10T09:53:42.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 103
                      name: 'Amie Bauch'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-10T09:53:42.000000Z'
                      updated_at: '2022-05-10T09:53:42.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1151
                      name: 'Illum molestias'
                      slug: illum-molestias
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:44.000000Z'
                      updated_at: '2022-05-10T09:53:44.000000Z'
                    -
                      id: 1152
                      name: 'Ipsa non'
                      slug: ipsa-non
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:44.000000Z'
                      updated_at: '2022-05-10T09:53:44.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1151
                        name: 'Illum molestias'
                        slug: illum-molestias
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                      -
                        id: 1152
                        name: 'Ipsa non'
                        slug: ipsa-non
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1149
                      name: 'Vel optio'
                      slug: vel-optio
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:44.000000Z'
                      updated_at: '2022-05-10T09:53:44.000000Z'
                    -
                      id: 1150
                      name: 'Nobis occaecati'
                      slug: nobis-occaecati
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:44.000000Z'
                      updated_at: '2022-05-10T09:53:44.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1149
                        name: 'Vel optio'
                        slug: vel-optio
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                      -
                        id: 1150
                        name: 'Nobis occaecati'
                        slug: nobis-occaecati
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 172
                      slug: tempore-tempore-fuga-velit-dolorem
                      title: 'Tempore tempore fuga velit dolorem.'
                      short_content: 'Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est s'
                      content: 'Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.'
                      content_html: '<p>Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.</p>'
                      no_more_content_html: '<p>Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.</p>'
                      less_content_html: '<p>Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.</p>'
                      seo_title: null
                      meta_title: 'Tempore tempore fuga velit dolorem.'
                      seo_desc: 'Id consequatur dolor sed omnis saepe autem. Molestiae similique quae quis sunt dolor et. Et ducimus sint tempora voluptas. Sapiente perferendis quaerat ad odit eos est debitis.'
                      meta_desc: 'Id consequatur dolor sed omnis saepe autem. Molestiae similique quae quis sunt dolor et. Et ducimus sint tempora voluptas. Sapiente perferendis quaerat ad odit eos est debitis.'
                      seo_noindex: 0
                      seo_nofollow: 0
                      status:
                        value: 1
                        label: active
                      comment: 0
                      first_image: null
                      published_at: '2022-02-20T08:53:13.000000Z'
                      created_at: '2022-05-10T09:53:44.000000Z'
                      updated_at: '2022-05-10T09:53:44.000000Z'
                      user:
                        id: 104
                        name: 'Daphney OReilly'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/tempore-tempore-fuga-velit-dolorem'
                    -
                      id: 173
                      slug: facilis-magni-ut-ab
                      title: 'Facilis magni ut ab.'
                      short_content: 'Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit.'
                      content: 'Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.'
                      content_html: '<p>Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.</p>'
                      no_more_content_html: '<p>Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.</p>'
                      less_content_html: '<p>Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.</p>'
                      seo_title: null
                      meta_title: 'Facilis magni ut ab.'
                      seo_desc: 'In voluptas qui quis voluptatem omnis. Accusamus impedit nisi illo enim sint quia. Cum temporibus et porro placeat. Et vel dicta amet vel. Asperiores cumque sit nihil et atque voluptates.'
                      meta_desc: 'In voluptas qui quis voluptatem omnis. Accusamus impedit nisi illo enim sint quia. Cum temporibus et porro placeat. Et vel dicta amet vel. Asperiores cumque sit nihil et atque voluptates.'
                      seo_noindex: 0
                      seo_nofollow: 1
                      status:
                        value: 1
                        label: active
                      comment: 0
                      first_image: null
                      published_at: '2021-11-05T03:43:10.000000Z'
                      created_at: '2022-05-10T09:53:44.000000Z'
                      updated_at: '2022-05-10T09:53:44.000000Z'
                      user:
                        id: 105
                        name: 'Andrew Breitenberg'
                        status:
                          value: 0
                          label: inactive
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/facilis-magni-ut-ab'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 172
                        slug: tempore-tempore-fuga-velit-dolorem
                        title: 'Tempore tempore fuga velit dolorem.'
                        short_content: 'Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est s'
                        content: 'Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.'
                        content_html: '<p>Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.</p>'
                        no_more_content_html: '<p>Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.</p>'
                        less_content_html: '<p>Praesentium repudiandae autem doloremque quia veritatis. Ratione ad dolorem eos ea dolorem et. Odit voluptatem eveniet rerum tenetur nam hic. Id qui qui vel nesciunt sapiente. Dolore ipsa inventore ipsum nesciunt quisquam pariatur. Vitae in et quasi. Doloribus perspiciatis optio laboriosam expedita nulla. Ipsa qui impedit ex ipsa. Qui vel non iste qui sunt impedit temporibus alias. Alias officiis ipsam blanditiis vero. Distinctio soluta repellendus sed enim quo et repellendus. Omnis magnam est sed illo voluptatem. Facilis voluptatem dolores incidunt omnis maiores. Sint illo eos alias rerum. Sed quidem qui autem aspernatur. Maxime consequuntur eos dolorum quo ad nisi voluptatibus occaecati. Voluptatem placeat facilis quibusdam iure nisi eum. Est corrupti tempora tempora eum quod et. Repellendus qui quisquam optio modi reiciendis porro enim. Et qui sed maiores sit atque quidem molestiae. Et eveniet ad ipsum aperiam facilis fuga sit. Impedit impedit vero blanditiis ad dignissimos. Quae harum iure consequatur. Atque error voluptatem fugit at. Iusto quia est quo quisquam nam qui. Fugit minima ad qui eum fuga. Quam qui tempora explicabo temporibus ab laboriosam ut. Et quasi quo nesciunt. Labore hic numquam et ab nam quo sed. Dignissimos numquam voluptatem eius assumenda iure. A autem cumque cumque velit veritatis quis nam. Labore atque at aliquid officia quae. Cum necessitatibus qui vero et sit veniam. Consequatur ratione dolores sunt dolor velit velit. Et nihil quia sit dolorem voluptatem iste dolorem. In nulla quia eos sint repellat pariatur iste eos. Eum est quo laboriosam debitis ipsa cumque autem. Et corrupti omnis itaque aperiam similique. Distinctio molestiae non et vel ut. Sit deleniti non accusantium explicabo qui aspernatur tempora incidunt. Inventore mollitia nihil quas mollitia est officiis laboriosam hic.</p>'
                        seo_title: null
                        meta_title: 'Tempore tempore fuga velit dolorem.'
                        seo_desc: 'Id consequatur dolor sed omnis saepe autem. Molestiae similique quae quis sunt dolor et. Et ducimus sint tempora voluptas. Sapiente perferendis quaerat ad odit eos est debitis.'
                        meta_desc: 'Id consequatur dolor sed omnis saepe autem. Molestiae similique quae quis sunt dolor et. Et ducimus sint tempora voluptas. Sapiente perferendis quaerat ad odit eos est debitis.'
                        seo_noindex: 0
                        seo_nofollow: 0
                        status:
                          value: 1
                          label: active
                        comment: 0
                        first_image: null
                        published_at: '2022-02-20T08:53:13.000000Z'
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                        user:
                          id: 104
                          name: 'Daphney OReilly'
                          status:
                            value: 1
                            label: active
                          created_at: '2022-05-10T09:53:44.000000Z'
                          updated_at: '2022-05-10T09:53:44.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/tempore-tempore-fuga-velit-dolorem'
                      -
                        id: 173
                        slug: facilis-magni-ut-ab
                        title: 'Facilis magni ut ab.'
                        short_content: 'Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit.'
                        content: 'Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.'
                        content_html: '<p>Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.</p>'
                        no_more_content_html: '<p>Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.</p>'
                        less_content_html: '<p>Eligendi accusantium velit rerum consequuntur non tenetur. Nulla saepe voluptas enim reiciendis. Nulla consequuntur nisi delectus rerum. Delectus voluptas sed dolor aut qui aut mollitia. Ad velit est ut sit. Nihil amet quod deserunt voluptatem commodi cupiditate. Sed tenetur et voluptas et est consectetur. Magnam aut animi ratione omnis labore voluptatem libero. Tenetur et eos est et ad fuga. Doloribus voluptatum et earum quasi. Alias ducimus aut sed eum id alias qui. Rerum ipsa sint id quo sit. Perspiciatis et ut quasi ut. Architecto adipisci repudiandae delectus perspiciatis modi. Dolorum ut autem cupiditate id sequi tenetur. Quis veniam quasi quos tenetur aut. Eaque minima quo voluptatem at labore officia aliquam. Omnis amet excepturi aut qui placeat. Eos tenetur tempora excepturi ut optio doloribus. Et quibusdam adipisci esse rerum unde corrupti esse. Repellat sequi quis assumenda dolores. Voluptatem non placeat vel ut exercitationem quos blanditiis. Ut harum aut ratione porro eaque unde veritatis consequuntur. Sit blanditiis repellat ut rerum voluptatem nemo excepturi ut. Qui quia voluptatum laudantium repellendus. Ipsa consequatur maxime accusamus. Maxime in exercitationem dolorem asperiores. Fugit dolor ex est officiis rerum. Dolores et voluptatum sapiente. Pariatur error aut autem. Totam rerum a alias consequuntur repellat iusto ut. Dolore inventore quas quia adipisci suscipit dolores. Commodi reprehenderit voluptas porro est sed aspernatur. Quas voluptatem ut molestias repellendus. Autem minima sequi rerum et enim nemo eaque. Suscipit modi in quisquam recusandae eos id. Similique modi est odio aut deleniti. Quo voluptas eius quia. Enim rerum aut quas incidunt nobis. Ipsa odit repellat ut voluptatem id illo vitae dolore. Perferendis aliquid voluptatem earum dolor accusamus deserunt ea.</p>'
                        seo_title: null
                        meta_title: 'Facilis magni ut ab.'
                        seo_desc: 'In voluptas qui quis voluptatem omnis. Accusamus impedit nisi illo enim sint quia. Cum temporibus et porro placeat. Et vel dicta amet vel. Asperiores cumque sit nihil et atque voluptates.'
                        meta_desc: 'In voluptas qui quis voluptatem omnis. Accusamus impedit nisi illo enim sint quia. Cum temporibus et porro placeat. Et vel dicta amet vel. Asperiores cumque sit nihil et atque voluptates.'
                        seo_noindex: 0
                        seo_nofollow: 1
                        status:
                          value: 1
                          label: active
                        comment: 0
                        first_image: null
                        published_at: '2021-11-05T03:43:10.000000Z'
                        created_at: '2022-05-10T09:53:44.000000Z'
                        updated_at: '2022-05-10T09:53:44.000000Z'
                        user:
                          id: 105
                          name: 'Andrew Breitenberg'
                          status:
                            value: 0
                            label: inactive
                          created_at: '2022-05-10T09:53:44.000000Z'
                          updated_at: '2022-05-10T09:53:44.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/facilis-magni-ut-ab'
                    items:
                      type: object
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.categories.view) 0, 2.'
                      example: 1
                    category:
                      type: integer
                      description: 'ID of category contains posts.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/tags/index:
    post:
      summary: 'Index of tags'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 174
                      name: Est
                      slug: est
                      created_at: '2022-05-10T09:53:46.000000Z'
                      updated_at: '2022-05-10T09:53:46.000000Z'
                    -
                      id: 175
                      name: Ducimus
                      slug: ducimus
                      created_at: '2022-05-10T09:53:46.000000Z'
                      updated_at: '2022-05-10T09:53:46.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 174
                        name: Est
                        slug: est
                        created_at: '2022-05-10T09:53:46.000000Z'
                        updated_at: '2022-05-10T09:53:46.000000Z'
                      -
                        id: 175
                        name: Ducimus
                        slug: ducimus
                        created_at: '2022-05-10T09:53:46.000000Z'
                        updated_at: '2022-05-10T09:53:46.000000Z'
                    items:
                      type: object
      tags:
        - Tags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>sum|asc</code>, or <code>sum|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/tokens:
    post:
      summary: 'Create token'
      description: "Create personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.create.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be between 3 and 255 characters.'
                  example: Access
                expiration:
                  type: integer
                  description: 'Token expiration time on days. If null is unlimited. Must not be greater than 1000.'
                  example: 7
                abilities:
                  type: array
                  description: 'Array containing scopes. Wildcard supported. Must be one of <code>api.*</code>, <code>api.users.*</code>, <code>api.users.view</code>, <code>api.categories.*</code>, <code>api.categories.view</code>, <code>api.tags.*</code>, <code>api.tags.view</code>, <code>api.posts.*</code>, <code>api.posts.view</code>, <code>api.tokens.*</code>, <code>api.tokens.create</code>, or <code>api.tokens.delete</code>.'
                  example:
                    - 'api.*'
                  items:
                    type: string
              required:
                - name
                - abilities
  '/api/tokens/{token}':
    delete:
      summary: 'Delete token'
      description: "Delete personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.delete.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Tokens
    parameters:
      -
        in: path
        name: token
        description: 'The token ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/users/index:
    post:
      summary: 'Index of users'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.users.view and admin.users.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 107
                      name: 'Ms. Dena Ullrich III'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-10T09:53:46.000000Z'
                      updated_at: '2022-05-10T09:53:46.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                    -
                      id: 108
                      name: 'Miss Vesta Anderson MD'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-10T09:53:46.000000Z'
                      updated_at: '2022-05-10T09:53:46.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 107
                        name: 'Ms. Dena Ullrich III'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-05-10T09:53:46.000000Z'
                        updated_at: '2022-05-10T09:53:46.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                      -
                        id: 108
                        name: 'Miss Vesta Anderson MD'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-05-10T09:53:46.000000Z'
                        updated_at: '2022-05-10T09:53:46.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                    items:
                      type: object
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.users.view).'
                      example: 1
                    role:
                      type: integer
                      description: ''
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, or <code>updated_at|desc</code>.'
                      example: created_at|desc
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
tags:
  -
    name: 'Authenticated user'
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/user.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\UserController"
  -
    name: Authentication
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/auth.php\n\n> Controllers:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\RegisterController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\TokenController"
  -
    name: Categories
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/categories.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\CategoryController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\Post\\CategoryController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Category\\CategoryResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.categories.* - access to all categories endpoints\n- api.categories.view - access to endpoints with collection of categories"
  -
    name: Posts
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/posts.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Post\\PostController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Post\\PostResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.posts.* - access to all posts endpoints\n- api.posts.view - access to endpoints with collection of posts"
  -
    name: Tags
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tags.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Tag\\TagController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Tag\\TagResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tags.* - access to all tags endpoints\n- api.tags.view - access to endpoints with collection of tags"
  -
    name: Tokens
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tokens.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Token\\TokenController\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tokens.* - access to all tokens endpoints\n- api.tokens.create - access to create token endpoint\n- api.tokens.delete - access to delete token endpoint"
  -
    name: Users
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/users.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\User\\UserController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\User\\UserResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.users.* - access to all users endpoints\n- api.users.view - access to endpoints with collection of users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
