openapi: 3.0.3
info:
  title: 'API Documentation - iCore - mini platforma blogowa'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.icore.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 123
                    name: 'Cade Turcotte'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-13T13:12:44.000000Z'
                    updated_at: '2022-10-13T13:12:44.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 123
                      name: 'Cade Turcotte'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-13T13:12:44.000000Z'
                      updated_at: '2022-10-13T13:12:44.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - 'Authenticated user'
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.icore.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 120
                    name: 'Madyson Hintz'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-13T13:12:42.000000Z'
                    updated_at: '2022-10-13T13:12:42.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 120
                      name: 'Madyson Hintz'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-13T13:12:42.000000Z'
                      updated_at: '2022-10-13T13:12:42.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/categories/post/index:
    post:
      summary: "Index of post's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1156
                      name: 'Est molestiae'
                      slug: est-molestiae
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                    -
                      id: 1157
                      name: 'Minus minima'
                      slug: minus-minima
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1156
                        name: 'Est molestiae'
                        slug: est-molestiae
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                      -
                        id: 1157
                        name: 'Minus minima'
                        slug: minus-minima
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1154
                      name: 'Voluptas optio'
                      slug: voluptas-optio
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                    -
                      id: 1155
                      name: 'Voluptatem atque'
                      slug: voluptatem-atque
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1154
                        name: 'Voluptas optio'
                        slug: voluptas-optio
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                      -
                        id: 1155
                        name: 'Voluptatem atque'
                        slug: voluptatem-atque
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 178
                      slug: voluptas-at-repellendus-amet-quae
                      title: 'Voluptas at repellendus amet quae.'
                      short_content: 'Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distincti'
                      content: 'Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.'
                      content_html: '<p>Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.</p>'
                      no_more_content_html: '<p>Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.</p>'
                      less_content_html: '<p>Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.</p>'
                      seo_title: 'Dolorem itaque in non asperiores.'
                      meta_title: 'Dolorem itaque in non asperiores.'
                      seo_desc: 'Nemo magnam tempore facere doloremque modi. Minima quisquam nostrum veniam sed blanditiis porro doloremque sit. Qui cupiditate suscipit veritatis libero.'
                      meta_desc: 'Nemo magnam tempore facere doloremque modi. Minima quisquam nostrum veniam sed blanditiis porro doloremque sit. Qui cupiditate suscipit veritatis libero.'
                      seo_noindex: 1
                      seo_nofollow: 1
                      status:
                        value: 1
                        label: active
                      comment: 0
                      first_image: null
                      published_at: '2022-06-12T22:27:05.000000Z'
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                      user:
                        id: 121
                        name: 'Dr. Alanna Braun'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/voluptas-at-repellendus-amet-quae'
                    -
                      id: 179
                      slug: qui-blanditiis-sint-explicabo-et
                      title: 'Qui blanditiis sint explicabo et.'
                      short_content: 'Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perfere'
                      content: 'Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.'
                      content_html: '<p>Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.</p>'
                      no_more_content_html: '<p>Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.</p>'
                      less_content_html: '<p>Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.</p>'
                      seo_title: 'Illum impedit excepturi quam ex nihil voluptates.'
                      meta_title: 'Illum impedit excepturi quam ex nihil voluptates.'
                      seo_desc: 'Accusamus nam sit necessitatibus repellendus possimus consequatur. Vero non eveniet quo consectetur.'
                      meta_desc: 'Accusamus nam sit necessitatibus repellendus possimus consequatur. Vero non eveniet quo consectetur.'
                      seo_noindex: 0
                      seo_nofollow: 0
                      status:
                        value: 1
                        label: active
                      comment: 1
                      first_image: null
                      published_at: '2022-04-08T18:55:45.000000Z'
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                      user:
                        id: 122
                        name: 'Ottilie Murray'
                        status:
                          value: 0
                          label: inactive
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/qui-blanditiis-sint-explicabo-et'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 178
                        slug: voluptas-at-repellendus-amet-quae
                        title: 'Voluptas at repellendus amet quae.'
                        short_content: 'Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distincti'
                        content: 'Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.'
                        content_html: '<p>Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.</p>'
                        no_more_content_html: '<p>Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.</p>'
                        less_content_html: '<p>Odit id est possimus vel qui. Rerum corporis ut id quod distinctio sint placeat. Animi nam sapiente eius reiciendis tempore nihil et. Facilis laudantium maxime repudiandae quia. Eum eveniet iure tenetur. In laudantium qui accusamus sit cumque. Et repellat quos eligendi officia assumenda voluptas est. Qui similique commodi at magnam quibusdam. Sit est perspiciatis debitis aut. Voluptas rerum ab repudiandae omnis omnis qui ipsa. Dolor quia nihil in aut. Quia temporibus voluptas autem sit distinctio et libero. Repellat et quis aut voluptatem amet. Aliquam expedita ut expedita dicta enim sed ut expedita. Maxime in commodi dolores aut quaerat. Doloribus dicta at explicabo in. Dignissimos sunt velit ut sit architecto. Dolorem debitis magnam necessitatibus magnam libero dolorem. Corrupti deserunt veniam eum consequatur repellat sit. Sed dignissimos voluptatem perferendis optio. Iusto et maxime placeat suscipit. Quam qui ad delectus quidem possimus ex necessitatibus. Distinctio nihil nulla nihil voluptatem. Aspernatur excepturi eius voluptatem laboriosam. Optio rerum nulla minima in error possimus. Dolorum est impedit nisi est id omnis quos. Itaque et eum et a nobis. Et error et ut itaque eum molestias quo molestiae. Dignissimos temporibus unde occaecati vel perferendis. Autem quo sit ut maxime doloribus. Illum consequatur reiciendis necessitatibus. Maiores inventore est qui. Molestiae reiciendis soluta enim. Et voluptatem reprehenderit deserunt voluptas ut distinctio illum. Optio et rerum qui. Aspernatur est facilis saepe sapiente molestiae animi reprehenderit eveniet. Dignissimos velit dolore neque quaerat placeat laboriosam. Id repudiandae asperiores rerum similique est facilis. Assumenda rem qui aut nesciunt et. Consequuntur ad qui iste deleniti quam. Sint voluptatem quisquam est dolores dolor pariatur. Culpa et dolorum nobis et.</p>'
                        seo_title: 'Dolorem itaque in non asperiores.'
                        meta_title: 'Dolorem itaque in non asperiores.'
                        seo_desc: 'Nemo magnam tempore facere doloremque modi. Minima quisquam nostrum veniam sed blanditiis porro doloremque sit. Qui cupiditate suscipit veritatis libero.'
                        meta_desc: 'Nemo magnam tempore facere doloremque modi. Minima quisquam nostrum veniam sed blanditiis porro doloremque sit. Qui cupiditate suscipit veritatis libero.'
                        seo_noindex: 1
                        seo_nofollow: 1
                        status:
                          value: 1
                          label: active
                        comment: 0
                        first_image: null
                        published_at: '2022-06-12T22:27:05.000000Z'
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                        user:
                          id: 121
                          name: 'Dr. Alanna Braun'
                          status:
                            value: 1
                            label: active
                          created_at: '2022-10-13T13:12:43.000000Z'
                          updated_at: '2022-10-13T13:12:43.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/voluptas-at-repellendus-amet-quae'
                      -
                        id: 179
                        slug: qui-blanditiis-sint-explicabo-et
                        title: 'Qui blanditiis sint explicabo et.'
                        short_content: 'Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perfere'
                        content: 'Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.'
                        content_html: '<p>Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.</p>'
                        no_more_content_html: '<p>Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.</p>'
                        less_content_html: '<p>Non porro vero est ab placeat. Est maiores vitae pariatur doloremque rerum. Id eum voluptatibus inventore voluptate aut dicta. Praesentium dolorem nulla alias. Aliquam inventore dolorem necessitatibus ut enim consequatur ut eveniet. Beatae eaque pariatur autem eum iste. Ratione et aut distinctio delectus dolorem quidem et in. Ipsum cumque est voluptatem qui autem tempora aut. Et quisquam unde corrupti velit esse sit magnam distinctio. Illo aliquid dolores nihil voluptas sed aut nesciunt. Perferendis debitis ratione aut nostrum. Enim ipsam illo eos pariatur. Nihil at consequatur nostrum eos optio. Ut repudiandae voluptas distinctio rem vel qui. Ea dolorem quaerat ea aspernatur. Aut distinctio aperiam impedit animi debitis ipsam illo velit. Aliquid recusandae sint blanditiis harum consequuntur aut. Itaque delectus voluptas repellat consectetur minus magni culpa minus. Facere necessitatibus dignissimos quia rem. Quis ipsum inventore unde ex et earum accusantium. Vel esse et molestiae. Et ut voluptas voluptatibus. At id eius quasi. Et et incidunt voluptatem quod. Odio adipisci et numquam commodi suscipit tempore consequatur exercitationem. Temporibus nam sunt doloremque earum. Aut aut nesciunt voluptatem itaque quam explicabo totam earum. Sint id sit voluptatem. Sit amet totam voluptatibus sunt assumenda. Qui in autem voluptatem pariatur repudiandae iusto aliquid. Et eum doloribus nesciunt error. Aut cumque quia officia laboriosam quidem voluptatem. Magni enim aspernatur aut iusto. Quibusdam rerum saepe ducimus molestias expedita dolor. Ut eligendi et culpa fugit facilis eius. Possimus pariatur cumque natus voluptatem dolorem omnis. Esse exercitationem necessitatibus voluptate eum possimus minus ratione non. Officiis aut libero hic impedit libero mollitia. Voluptates voluptatem odit et quia quaerat deleniti ullam. Facere nobis reiciendis et. Laborum laboriosam minus vel voluptatem vitae.</p>'
                        seo_title: 'Illum impedit excepturi quam ex nihil voluptates.'
                        meta_title: 'Illum impedit excepturi quam ex nihil voluptates.'
                        seo_desc: 'Accusamus nam sit necessitatibus repellendus possimus consequatur. Vero non eveniet quo consectetur.'
                        meta_desc: 'Accusamus nam sit necessitatibus repellendus possimus consequatur. Vero non eveniet quo consectetur.'
                        seo_noindex: 0
                        seo_nofollow: 0
                        status:
                          value: 1
                          label: active
                        comment: 1
                        first_image: null
                        published_at: '2022-04-08T18:55:45.000000Z'
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                        user:
                          id: 122
                          name: 'Ottilie Murray'
                          status:
                            value: 0
                            label: inactive
                          created_at: '2022-10-13T13:12:43.000000Z'
                          updated_at: '2022-10-13T13:12:43.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/qui-blanditiis-sint-explicabo-et'
                    items:
                      type: object
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.categories.view) 0, 2.'
                      example: 1
                    category:
                      type: integer
                      description: 'ID of category contains posts.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/tags/index:
    post:
      summary: 'Index of tags'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 181
                      name: Quos
                      slug: quos
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                    -
                      id: 182
                      name: Tempora
                      slug: tempora
                      created_at: '2022-10-13T13:12:43.000000Z'
                      updated_at: '2022-10-13T13:12:43.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 181
                        name: Quos
                        slug: quos
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                      -
                        id: 182
                        name: Tempora
                        slug: tempora
                        created_at: '2022-10-13T13:12:43.000000Z'
                        updated_at: '2022-10-13T13:12:43.000000Z'
                    items:
                      type: object
      tags:
        - Tags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>sum|asc</code>, or <code>sum|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/tokens:
    post:
      summary: 'Create token'
      description: "Create personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.create.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be between 3 and 255 characters.'
                  example: Access
                expiration:
                  type: integer
                  description: 'Token expiration time on days. If null is unlimited. Must not be greater than 1000.'
                  example: 7
                abilities:
                  type: array
                  description: 'Array containing scopes. Wildcard supported. Must be one of <code>api.*</code>, <code>api.users.*</code>, <code>api.users.view</code>, <code>api.categories.*</code>, <code>api.categories.view</code>, <code>api.tags.*</code>, <code>api.tags.view</code>, <code>api.posts.*</code>, <code>api.posts.view</code>, <code>api.tokens.*</code>, <code>api.tokens.create</code>, or <code>api.tokens.delete</code>.'
                  example:
                    - 'api.*'
                  items:
                    type: string
              required:
                - name
                - abilities
  '/api/tokens/{token_id}':
    delete:
      summary: 'Delete token'
      description: "Delete personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.delete.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Tokens
    parameters:
      -
        in: path
        name: token_id
        description: 'The ID of the token.'
        example: null
        required: true
        schema:
          type: integer
  /api/users/index:
    post:
      summary: 'Index of users'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.users.view and admin.users.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 124
                      name: 'Prof. Jedidiah Mraz'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-13T13:12:44.000000Z'
                      updated_at: '2022-10-13T13:12:44.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                    -
                      id: 125
                      name: 'Loren Fisher'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-13T13:12:44.000000Z'
                      updated_at: '2022-10-13T13:12:44.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 124
                        name: 'Prof. Jedidiah Mraz'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-10-13T13:12:44.000000Z'
                        updated_at: '2022-10-13T13:12:44.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                      -
                        id: 125
                        name: 'Loren Fisher'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-10-13T13:12:44.000000Z'
                        updated_at: '2022-10-13T13:12:44.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                    items:
                      type: object
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.users.view).'
                      example: 1
                    role:
                      type: integer
                      description: ''
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, or <code>updated_at|desc</code>.'
                      example: created_at|asc
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
tags:
  -
    name: 'Authenticated user'
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/user.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\UserController"
  -
    name: Authentication
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/auth.php\n\n> Controllers:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\RegisterController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\TokenController"
  -
    name: Categories
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/categories.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\CategoryController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\Post\\CategoryController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Category\\CategoryResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.categories.* - access to all categories endpoints\n- api.categories.view - access to endpoints with collection of categories"
  -
    name: Posts
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/posts.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Post\\PostController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Post\\PostResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.posts.* - access to all posts endpoints\n- api.posts.view - access to endpoints with collection of posts"
  -
    name: Tags
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tags.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Tag\\TagController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Tag\\TagResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tags.* - access to all tags endpoints\n- api.tags.view - access to endpoints with collection of tags"
  -
    name: Tokens
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tokens.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Token\\TokenController\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tokens.* - access to all tokens endpoints\n- api.tokens.create - access to create token endpoint\n- api.tokens.delete - access to delete token endpoint"
  -
    name: Users
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/users.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\User\\UserController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\User\\UserResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.users.* - access to all users endpoints\n- api.users.view - access to endpoints with collection of users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
