openapi: 3.0.3
info:
  title: 'API Documentation - iCore - mini platforma blogowa'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.icore.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 124
                    name: 'Dewitt Hessel'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-03-20T13:00:19.000000Z'
                    updated_at: '2022-03-20T13:00:19.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2021-01-06T17:27:36.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 124
                      name: 'Dewitt Hessel'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
      tags:
        - 'Authenticated user'
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.icore.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 121
                    name: 'Victoria Boehm'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-03-20T13:00:18.000000Z'
                    updated_at: '2022-03-20T13:00:18.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2021-01-06T17:27:36.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 121
                      name: 'Victoria Boehm'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-20T13:00:18.000000Z'
                      updated_at: '2022-03-20T13:00:18.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1091
                      name: 'Velit quasi'
                      slug: velit-quasi
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                    -
                      id: 1092
                      name: 'Hic cum'
                      slug: hic-cum
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1091
                        name: 'Velit quasi'
                        slug: velit-quasi
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                      -
                        id: 1092
                        name: 'Hic cum'
                        slug: hic-cum
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1089
                      name: 'Expedita qui'
                      slug: expedita-qui
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                    -
                      id: 1090
                      name: 'Nam non'
                      slug: nam-non
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1089
                        name: 'Expedita qui'
                        slug: expedita-qui
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                      -
                        id: 1090
                        name: 'Nam non'
                        slug: nam-non
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 173
                      slug: hic-voluptatem-qui-dignissimos-est-sint
                      title: 'Hic voluptatem qui dignissimos est sint.'
                      short_content: 'Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore'
                      content: 'Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.'
                      content_html: '<p>Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.</p>'
                      no_more_content_html: '<p>Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.</p>'
                      less_content_html: '<p>Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.</p>'
                      seo_title: null
                      meta_title: 'Hic voluptatem qui dignissimos est sint.'
                      seo_desc: 'Architecto error rerum accusantium reprehenderit. Id aut ullam repellat et. Nihil veritatis velit et blanditiis molestiae rem sed. Quo est esse ratione.'
                      meta_desc: 'Architecto error rerum accusantium reprehenderit. Id aut ullam repellat et. Nihil veritatis velit et blanditiis molestiae rem sed. Quo est esse ratione.'
                      seo_noindex: false
                      seo_nofollow: false
                      status:
                        value: 1
                        label: active
                      comment: true
                      first_image: null
                      published_at: '2021-10-29T14:29:09.000000Z'
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                      user:
                        id: 122
                        name: 'Alysson Lesch'
                        status:
                          value: 0
                          label: inactive
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/hic-voluptatem-qui-dignissimos-est-sint'
                    -
                      id: 174
                      slug: aut-placeat-ab-debitis-laudantium-nihil
                      title: 'Aut placeat ab debitis laudantium nihil.'
                      short_content: 'Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dict'
                      content: 'Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.'
                      content_html: '<p>Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.</p>'
                      no_more_content_html: '<p>Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.</p>'
                      less_content_html: '<p>Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.</p>'
                      seo_title: 'Unde est animi consequatur numquam ipsa.'
                      meta_title: 'Unde est animi consequatur numquam ipsa.'
                      seo_desc: 'Fuga nam at dicta fugiat sapiente et id. Ut sunt dolores iste aut cum. Reprehenderit neque necessitatibus iusto deserunt animi. Blanditiis culpa maxime aut esse harum.'
                      meta_desc: 'Fuga nam at dicta fugiat sapiente et id. Ut sunt dolores iste aut cum. Reprehenderit neque necessitatibus iusto deserunt animi. Blanditiis culpa maxime aut esse harum.'
                      seo_noindex: false
                      seo_nofollow: false
                      status:
                        value: 1
                        label: active
                      comment: true
                      first_image: null
                      published_at: '2021-11-11T14:26:03.000000Z'
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                      user:
                        id: 123
                        name: 'Kenton Hamill'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/aut-placeat-ab-debitis-laudantium-nihil'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 173
                        slug: hic-voluptatem-qui-dignissimos-est-sint
                        title: 'Hic voluptatem qui dignissimos est sint.'
                        short_content: 'Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore'
                        content: 'Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.'
                        content_html: '<p>Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.</p>'
                        no_more_content_html: '<p>Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.</p>'
                        less_content_html: '<p>Ipsam quia porro et amet id laborum reprehenderit. Sint alias ipsa aliquid incidunt suscipit. Vero quia iure quo. Ut ut adipisci fuga sit perferendis. Id est cupiditate consequatur eaque. Minus enim possimus reiciendis aut esse itaque laboriosam nesciunt. Ducimus natus porro natus. Amet velit doloribus ut. Illo voluptatem saepe et et consequuntur et. Nam iste odio id magnam. Ab quisquam quo dignissimos qui doloribus quam. Voluptates quas enim voluptatum voluptate repellat. Ducimus et enim labore rem molestiae quia. Eligendi eum et non provident nobis iure et. Sed quo assumenda voluptatem omnis et et. Nihil distinctio aut voluptatibus at quod. Veritatis sint nesciunt deleniti nisi optio eligendi et. Et odit at amet velit qui odio. Beatae ut quasi vel unde est eos. Rerum enim autem accusamus. Et repellat dolore fugiat consequatur ut ducimus. Dicta sit laborum modi aut. Non eius minus qui est perspiciatis et ad maxime. Earum sed reprehenderit assumenda. Voluptas quia atque praesentium quis. Molestiae ut voluptas iure. Iure nulla eos impedit eos reprehenderit distinctio. Tenetur officia unde alias dicta totam tempora non quidem. Reiciendis atque aut libero nesciunt et reiciendis. Modi debitis placeat iusto id porro sapiente. Eius hic cumque dolor eos neque quidem. Qui laudantium veritatis temporibus corrupti pariatur. In id assumenda non aut tempore ipsa. Numquam aut tempora cum ducimus quia nulla. Quibusdam quam est aut magnam. Dolorem ea quidem quia voluptatem aperiam dolor enim. Repellendus et quas dolores velit tempora ut. Iusto hic fuga doloremque quia omnis explicabo amet. Sit architecto ut qui culpa omnis. Ex harum ipsa illo hic a. Sit omnis dolorem voluptate. Temporibus sequi sed ea est amet atque perspiciatis voluptate. Sint aut et qui voluptatem corporis. Qui aut esse ipsa at. Suscipit enim deserunt molestiae vero. Aut non sint esse architecto. Nesciunt eos quam id laborum sed deserunt. Similique occaecati voluptates at iusto.</p>'
                        seo_title: null
                        meta_title: 'Hic voluptatem qui dignissimos est sint.'
                        seo_desc: 'Architecto error rerum accusantium reprehenderit. Id aut ullam repellat et. Nihil veritatis velit et blanditiis molestiae rem sed. Quo est esse ratione.'
                        meta_desc: 'Architecto error rerum accusantium reprehenderit. Id aut ullam repellat et. Nihil veritatis velit et blanditiis molestiae rem sed. Quo est esse ratione.'
                        seo_noindex: false
                        seo_nofollow: false
                        status:
                          value: 1
                          label: active
                        comment: true
                        first_image: null
                        published_at: '2021-10-29T14:29:09.000000Z'
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                        user:
                          id: 122
                          name: 'Alysson Lesch'
                          status:
                            value: 0
                            label: inactive
                          created_at: '2022-03-20T13:00:19.000000Z'
                          updated_at: '2022-03-20T13:00:19.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/hic-voluptatem-qui-dignissimos-est-sint'
                      -
                        id: 174
                        slug: aut-placeat-ab-debitis-laudantium-nihil
                        title: 'Aut placeat ab debitis laudantium nihil.'
                        short_content: 'Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dict'
                        content: 'Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.'
                        content_html: '<p>Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.</p>'
                        no_more_content_html: '<p>Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.</p>'
                        less_content_html: '<p>Voluptatem amet voluptatum voluptatem numquam perspiciatis ut voluptatibus. Omnis autem qui tempora atque molestiae culpa rerum. Aliquam earum voluptatibus ea consequatur quasi. Et sit deserunt et nam incidunt odio. Rerum velit ut quia totam minus. Sit sequi voluptatem quia soluta enim mollitia. Quam ducimus sit quisquam ea aut voluptatem amet. Eligendi praesentium beatae sed magni qui magnam. Sapiente dolorum perspiciatis pariatur et. Quia et quos ut aut adipisci. Ratione dignissimos saepe dicta eveniet. Et inventore aut earum explicabo accusamus. Perferendis tenetur occaecati est pariatur occaecati sunt est laboriosam. Aliquam et sed praesentium vel voluptas et. Rem sint et facilis et non reiciendis aut. Reprehenderit explicabo consequuntur inventore. Ut quo mollitia occaecati fugit deserunt dolor dolor. Aliquam explicabo totam eos qui. Doloribus natus placeat tenetur qui voluptas minima incidunt. Ut dolor omnis commodi ab delectus possimus aut. Officia occaecati rerum impedit minus. Quibusdam esse aut molestiae fugit voluptas. Beatae nemo in saepe est ratione dolorum. Qui quisquam deleniti aliquid sit dolores molestiae. Est nulla natus et aut consequatur sit optio. Ea consequatur aut eos quod dolores nihil laboriosam est. Sapiente molestias soluta et esse velit deleniti unde saepe. Magni eum dolor magni dicta fuga laborum. Necessitatibus in labore in velit aut porro. Nostrum eum natus beatae esse odit ratione placeat. Incidunt qui molestiae sunt enim qui. Nisi accusamus nihil quod. Quae ut dolore ex officiis. Nisi vel natus in necessitatibus qui deserunt sunt ab. Consequatur ipsum in voluptas pariatur. Dolorum odit molestias aperiam amet eum aut. Sequi ut amet porro quisquam molestias. Et ea praesentium molestiae enim est quis aut. Aliquid qui voluptatem consequatur esse quidem sint dolorem distinctio. Odit qui rerum laudantium dolor aut distinctio. Optio voluptatem aliquid et impedit sit.</p>'
                        seo_title: 'Unde est animi consequatur numquam ipsa.'
                        meta_title: 'Unde est animi consequatur numquam ipsa.'
                        seo_desc: 'Fuga nam at dicta fugiat sapiente et id. Ut sunt dolores iste aut cum. Reprehenderit neque necessitatibus iusto deserunt animi. Blanditiis culpa maxime aut esse harum.'
                        meta_desc: 'Fuga nam at dicta fugiat sapiente et id. Ut sunt dolores iste aut cum. Reprehenderit neque necessitatibus iusto deserunt animi. Blanditiis culpa maxime aut esse harum.'
                        seo_noindex: false
                        seo_nofollow: false
                        status:
                          value: 1
                          label: active
                        comment: true
                        first_image: null
                        published_at: '2021-11-11T14:26:03.000000Z'
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                        user:
                          id: 123
                          name: 'Kenton Hamill'
                          status:
                            value: 1
                            label: active
                          created_at: '2022-03-20T13:00:19.000000Z'
                          updated_at: '2022-03-20T13:00:19.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/aut-placeat-ab-debitis-laudantium-nihil'
                    items:
                      type: object
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.categories.view) 0, 2.'
                      example: 1
                    category:
                      type: integer
                      description: 'ID of category contains posts.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/tags/index:
    post:
      summary: 'Index of tags'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 180
                      name: Ut
                      slug: ut
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                    -
                      id: 181
                      name: Amet
                      slug: amet
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 180
                        name: Ut
                        slug: ut
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                      -
                        id: 181
                        name: Amet
                        slug: amet
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                    items:
                      type: object
      tags:
        - Tags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>sum|asc</code>, or <code>sum|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/tokens:
    post:
      summary: 'Create token'
      description: "Create personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.create.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be between 3 and 255 characters.'
                  example: Access
                expiration:
                  type: integer
                  description: 'Token expiration time on days. If null is unlimited. Must not be greater than 1000.'
                  example: 7
                abilities:
                  type: array
                  description: 'Array containing scopes. Wildcard supported. Must be one of <code>api.*</code>, <code>api.users.*</code>, <code>api.users.view</code>, <code>api.categories.*</code>, <code>api.categories.view</code>, <code>api.tags.*</code>, <code>api.tags.view</code>, <code>api.posts.*</code>, <code>api.posts.view</code>, <code>api.tokens.*</code>, <code>api.tokens.create</code>, or <code>api.tokens.delete</code>.'
                  example:
                    - 'api.*'
                  items:
                    type: string
              required:
                - name
                - abilities
  '/api/tokens/{token}':
    delete:
      summary: 'Delete token'
      description: "Delete personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.delete.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Tokens
    parameters:
      -
        in: path
        name: token
        description: 'The token ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/users/index:
    post:
      summary: 'Index of users'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.users.view and admin.users.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 125
                      name: 'Evie DuBuque'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
                    -
                      id: 126
                      name: 'Arvid McGlynn'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-20T13:00:19.000000Z'
                      updated_at: '2022-03-20T13:00:19.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 125
                        name: 'Evie DuBuque'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2021-01-06T17:27:36.000000Z'
                      -
                        id: 126
                        name: 'Arvid McGlynn'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-03-20T13:00:19.000000Z'
                        updated_at: '2022-03-20T13:00:19.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2021-01-06T17:27:36.000000Z'
                    items:
                      type: object
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.users.view).'
                      example: 1
                    role:
                      type: integer
                      description: ''
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, or <code>updated_at|desc</code>.'
                      example: created_at|asc
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
tags:
  -
    name: 'Authenticated user'
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/user.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\UserController"
  -
    name: Authentication
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/auth.php\n\n> Controllers:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\RegisterController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\TokenController"
  -
    name: Categories
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/categories.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\CategoryController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\Post\\CategoryController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Category\\CategoryResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.categories.* - access to all categories endpoints\n- api.categories.view - access to endpoints with collection of categories"
  -
    name: Posts
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/posts.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Post\\PostController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Post\\PostResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.posts.* - access to all posts endpoints\n- api.posts.view - access to endpoints with collection of posts"
  -
    name: Tags
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tags.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Tag\\TagController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Tag\\TagResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tags.* - access to all tags endpoints\n- api.tags.view - access to endpoints with collection of tags"
  -
    name: Tokens
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tokens.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Token\\TokenController\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tokens.* - access to all tokens endpoints\n- api.tokens.create - access to create token endpoint\n- api.tokens.delete - access to delete token endpoint"
  -
    name: Users
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/users.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\User\\UserController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\User\\UserResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.users.* - access to all users endpoints\n- api.users.view - access to endpoints with collection of users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
