openapi: 3.0.3
info:
  title: 'API Documentation - iCore - mini platforma blogowa'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.icore.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 112
                    name: 'Lizeth Oberbrunner'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-03-18T16:08:53.000000Z'
                    updated_at: '2022-03-18T16:08:53.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2021-01-06T17:27:36.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 112
                      name: 'Lizeth Oberbrunner'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
      tags:
        - 'Authenticated user'
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.icore.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 109
                    name: 'Dr. Ali Toy MD'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-03-18T16:08:52.000000Z'
                    updated_at: '2022-03-18T16:08:52.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2021-01-06T17:27:36.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 109
                      name: 'Dr. Ali Toy MD'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-18T16:08:52.000000Z'
                      updated_at: '2022-03-18T16:08:52.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1083
                      name: 'Nobis qui'
                      slug: nobis-qui
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                    -
                      id: 1084
                      name: 'Ipsum earum'
                      slug: ipsum-earum
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1083
                        name: 'Nobis qui'
                        slug: nobis-qui
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                      -
                        id: 1084
                        name: 'Ipsum earum'
                        slug: ipsum-earum
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1081
                      name: 'Cumque dolor'
                      slug: cumque-dolor
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:08:52.000000Z'
                      updated_at: '2022-03-18T16:08:52.000000Z'
                    -
                      id: 1082
                      name: 'Molestiae illo'
                      slug: molestiae-illo
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:08:52.000000Z'
                      updated_at: '2022-03-18T16:08:52.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1081
                        name: 'Cumque dolor'
                        slug: cumque-dolor
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:08:52.000000Z'
                        updated_at: '2022-03-18T16:08:52.000000Z'
                      -
                        id: 1082
                        name: 'Molestiae illo'
                        slug: molestiae-illo
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:08:52.000000Z'
                        updated_at: '2022-03-18T16:08:52.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 169
                      slug: reiciendis-voluptatem-ipsa-temporibus
                      title: 'Reiciendis voluptatem ipsa temporibus.'
                      short_content: 'Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est q'
                      content: 'Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.'
                      content_html: '<p>Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.</p>'
                      no_more_content_html: '<p>Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.</p>'
                      less_content_html: '<p>Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.</p>'
                      seo_title: null
                      meta_title: 'Reiciendis voluptatem ipsa temporibus.'
                      seo_desc: 'Excepturi eaque neque tempore ut sunt. Dolorem eum in ut. Minus ad fugiat ut sit sint ullam. Culpa minus laudantium numquam.'
                      meta_desc: 'Excepturi eaque neque tempore ut sunt. Dolorem eum in ut. Minus ad fugiat ut sit sint ullam. Culpa minus laudantium numquam.'
                      seo_noindex: true
                      seo_nofollow: false
                      status:
                        value: 1
                        label: active
                      comment: true
                      first_image: null
                      published_at: '2021-06-25T06:07:25.000000Z'
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                      user:
                        id: 110
                        name: 'Tomasa Kirlin PhD'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/reiciendis-voluptatem-ipsa-temporibus'
                    -
                      id: 170
                      slug: quae-aspernatur-maxime-ut-quia-porro
                      title: 'Quae aspernatur maxime ut quia porro.'
                      short_content: 'Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore.'
                      content: 'Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.'
                      content_html: '<p>Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.</p>'
                      no_more_content_html: '<p>Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.</p>'
                      less_content_html: '<p>Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.</p>'
                      seo_title: null
                      meta_title: 'Quae aspernatur maxime ut quia porro.'
                      seo_desc: 'Ad voluptatem et in et commodi nobis. Illum ratione minus repellat deserunt sed. Et nihil temporibus aut iusto similique ut in.'
                      meta_desc: 'Ad voluptatem et in et commodi nobis. Illum ratione minus repellat deserunt sed. Et nihil temporibus aut iusto similique ut in.'
                      seo_noindex: false
                      seo_nofollow: false
                      status:
                        value: 1
                        label: active
                      comment: false
                      first_image: null
                      published_at: '2021-05-17T06:45:35.000000Z'
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                      user:
                        id: 111
                        name: 'Jordane Wintheiser'
                        status:
                          value: 0
                          label: inactive
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/quae-aspernatur-maxime-ut-quia-porro'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 169
                        slug: reiciendis-voluptatem-ipsa-temporibus
                        title: 'Reiciendis voluptatem ipsa temporibus.'
                        short_content: 'Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est q'
                        content: 'Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.'
                        content_html: '<p>Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.</p>'
                        no_more_content_html: '<p>Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.</p>'
                        less_content_html: '<p>Molestias itaque in ducimus sed eaque veniam animi. Numquam temporibus excepturi dolores accusantium. Recusandae laborum aliquam dicta optio. Corporis officia enim porro nostrum et. Amet placeat sint architecto rem. Natus non facere aut ullam est voluptatem. Ipsa nihil voluptatem architecto quaerat dolor totam delectus. Suscipit ut est necessitatibus aspernatur laboriosam. Iure autem voluptatem voluptates. Et provident natus ab non et nisi. Quia dignissimos velit soluta sit voluptatem odio est quasi. Sint sunt ea natus minus et sapiente. Molestiae est praesentium quia fugiat inventore qui. Est eligendi magnam aut occaecati. Repellendus dolores quo et consequatur voluptas est. Vel cupiditate adipisci optio quas iste. Cumque aut reiciendis minima veritatis aperiam est. Molestiae saepe quidem iste voluptatum sint sit quibusdam. Repellendus iste deleniti et ex. Ipsam voluptatibus corporis eaque amet quisquam. Rerum rerum quia rerum consequatur reiciendis cumque. Commodi laudantium quod facere tempore tempore. Et blanditiis minima atque aliquid atque non. Dolor asperiores qui magni necessitatibus omnis. Eligendi in recusandae placeat facilis nihil cum ratione et. Non minus est ut veritatis. Qui vel cum vel reprehenderit aliquam sed nobis voluptatem. Sunt quod quia facilis qui aut eum voluptates. Et et delectus velit inventore doloribus. Exercitationem esse minus voluptatibus optio accusantium. Omnis explicabo ea praesentium dolorem. Dolores autem eum debitis voluptas eaque. Ea qui eligendi esse sint ipsum harum. Voluptas in maiores eveniet nobis ea sint est. Cumque itaque saepe tempore reprehenderit qui voluptas dolor. Quia sint nemo quasi placeat eveniet numquam. Repudiandae qui sed tempora. Rerum consequatur sapiente praesentium doloremque eius dicta natus reprehenderit. Laudantium quo et et unde doloremque quia ducimus magnam. Illo qui laudantium aut.</p>'
                        seo_title: null
                        meta_title: 'Reiciendis voluptatem ipsa temporibus.'
                        seo_desc: 'Excepturi eaque neque tempore ut sunt. Dolorem eum in ut. Minus ad fugiat ut sit sint ullam. Culpa minus laudantium numquam.'
                        meta_desc: 'Excepturi eaque neque tempore ut sunt. Dolorem eum in ut. Minus ad fugiat ut sit sint ullam. Culpa minus laudantium numquam.'
                        seo_noindex: true
                        seo_nofollow: false
                        status:
                          value: 1
                          label: active
                        comment: true
                        first_image: null
                        published_at: '2021-06-25T06:07:25.000000Z'
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                        user:
                          id: 110
                          name: 'Tomasa Kirlin PhD'
                          status:
                            value: 1
                            label: active
                          created_at: '2022-03-18T16:08:53.000000Z'
                          updated_at: '2022-03-18T16:08:53.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/reiciendis-voluptatem-ipsa-temporibus'
                      -
                        id: 170
                        slug: quae-aspernatur-maxime-ut-quia-porro
                        title: 'Quae aspernatur maxime ut quia porro.'
                        short_content: 'Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore.'
                        content: 'Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.'
                        content_html: '<p>Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.</p>'
                        no_more_content_html: '<p>Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.</p>'
                        less_content_html: '<p>Non voluptas voluptas tempora. Qui maxime facilis quae quia ex. Ab occaecati consequatur veritatis eveniet officiis nesciunt ut rem. Molestias nulla molestiae veritatis ut. Nihil qui vitae omnis nam maiores. Impedit ullam quia sequi accusamus magni. Unde nam et et. Impedit iusto quia pariatur excepturi omnis laboriosam. Dolor sint officiis aut dolor quam. Aut non asperiores est tenetur dolores eaque eaque. Optio eum dolores provident repellendus. Rem doloribus dolores aut accusamus eius tempore. Eligendi officia ut est voluptates magni. Asperiores et voluptas vel atque quia et. Ipsam iste dolorum veniam sint quae tempora. Corporis voluptas enim quis illum debitis consequatur. Tempora quo sint maxime tempore. Et temporibus velit minus est iusto aliquam quia rerum. Iusto aspernatur suscipit aut. Molestiae sint aliquid deserunt asperiores occaecati officia. Alias voluptate sit et voluptas. Magni dolores dolor deleniti nostrum deserunt. Architecto et placeat voluptatibus aut excepturi. Autem vitae omnis nobis est illo. Sunt minus atque sunt et quod vitae voluptates. Voluptates cupiditate aut in sed numquam. Voluptatem laboriosam vero ipsum molestias totam alias. Debitis voluptatibus sit reprehenderit praesentium. Id facilis qui ut porro. Alias sit quod nihil voluptatum dignissimos sunt quia ea. Quos odit in eum optio quia voluptates repudiandae. Numquam ad odit ullam officiis. Rerum ut in ut odit dolores autem. Optio ducimus quia et ratione. Hic commodi ut in ut magni culpa. Vel dignissimos molestiae dolor et veritatis est quidem. Officia est itaque earum tenetur fugit mollitia qui. Vel in qui vitae est laudantium voluptates quia. Nemo aliquam libero eaque et sit nihil praesentium. Saepe dolores nostrum ullam ullam corrupti rerum ratione soluta. Sint et molestias harum. Possimus soluta veritatis adipisci et ut. Officia consequatur accusantium modi qui optio esse illum.</p>'
                        seo_title: null
                        meta_title: 'Quae aspernatur maxime ut quia porro.'
                        seo_desc: 'Ad voluptatem et in et commodi nobis. Illum ratione minus repellat deserunt sed. Et nihil temporibus aut iusto similique ut in.'
                        meta_desc: 'Ad voluptatem et in et commodi nobis. Illum ratione minus repellat deserunt sed. Et nihil temporibus aut iusto similique ut in.'
                        seo_noindex: false
                        seo_nofollow: false
                        status:
                          value: 1
                          label: active
                        comment: false
                        first_image: null
                        published_at: '2021-05-17T06:45:35.000000Z'
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                        user:
                          id: 111
                          name: 'Jordane Wintheiser'
                          status:
                            value: 0
                            label: inactive
                          created_at: '2022-03-18T16:08:53.000000Z'
                          updated_at: '2022-03-18T16:08:53.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/quae-aspernatur-maxime-ut-quia-porro'
                    items:
                      type: object
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.categories.view) 0, 2.'
                      example: 1
                    category:
                      type: integer
                      description: 'ID of category contains posts.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/tags/index:
    post:
      summary: 'Index of tags'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 176
                      name: Quasi
                      slug: quasi
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                    -
                      id: 177
                      name: Sint
                      slug: sint
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 176
                        name: Quasi
                        slug: quasi
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                      -
                        id: 177
                        name: Sint
                        slug: sint
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                    items:
                      type: object
      tags:
        - Tags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>sum|asc</code>, or <code>sum|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/tokens:
    post:
      summary: 'Create token'
      description: "Create personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.create.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be between 3 and 255 characters.'
                  example: Access
                expiration:
                  type: integer
                  description: 'Token expiration time on days. If null is unlimited. Must not be greater than 1000.'
                  example: 7
                abilities:
                  type: array
                  description: 'Array containing scopes. Wildcard supported. Must be one of <code>api.*</code>, <code>api.users.*</code>, <code>api.users.view</code>, <code>api.categories.*</code>, <code>api.categories.view</code>, <code>api.tags.*</code>, <code>api.tags.view</code>, <code>api.posts.*</code>, <code>api.posts.view</code>, <code>api.tokens.*</code>, <code>api.tokens.create</code>, or <code>api.tokens.delete</code>.'
                  example:
                    - 'api.*'
                  items:
                    type: string
              required:
                - name
                - abilities
  '/api/tokens/{token}':
    delete:
      summary: 'Delete token'
      description: "Delete personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.delete.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Tokens
    parameters:
      -
        in: path
        name: token
        description: 'The token ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/users/index:
    post:
      summary: 'Index of users'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.users.view and admin.users.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 113
                      name: 'Christy Cronin'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
                    -
                      id: 114
                      name: 'Dr. Jasen Runolfsdottir DVM'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-18T16:08:53.000000Z'
                      updated_at: '2022-03-18T16:08:53.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2021-01-06T17:27:36.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 113
                        name: 'Christy Cronin'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2021-01-06T17:27:36.000000Z'
                      -
                        id: 114
                        name: 'Dr. Jasen Runolfsdottir DVM'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-03-18T16:08:53.000000Z'
                        updated_at: '2022-03-18T16:08:53.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2021-01-06T17:27:36.000000Z'
                    items:
                      type: object
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.users.view).'
                      example: 1
                    role:
                      type: integer
                      description: ''
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, or <code>updated_at|desc</code>.'
                      example: updated_at|asc
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
tags:
  -
    name: 'Authenticated user'
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/user.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\UserController"
  -
    name: Authentication
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/auth.php\n\n> Controllers:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\RegisterController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\TokenController"
  -
    name: Categories
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/categories.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\CategoryController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\Post\\CategoryController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Category\\CategoryResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.categories.* - access to all categories endpoints\n- api.categories.view - access to endpoints with collection of categories"
  -
    name: Posts
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/posts.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Post\\PostController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Post\\PostResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.posts.* - access to all posts endpoints\n- api.posts.view - access to endpoints with collection of posts"
  -
    name: Tags
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tags.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Tag\\TagController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Tag\\TagResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tags.* - access to all tags endpoints\n- api.tags.view - access to endpoints with collection of tags"
  -
    name: Tokens
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tokens.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Token\\TokenController\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tokens.* - access to all tokens endpoints\n- api.tokens.create - access to create token endpoint\n- api.tokens.delete - access to delete token endpoint"
  -
    name: Users
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/users.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\User\\UserController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\User\\UserResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.users.* - access to all users endpoints\n- api.users.view - access to endpoints with collection of users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
