openapi: 3.0.3
info:
  title: 'API Documentation - iCore - mini platforma blogowa'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.icore.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 113
                    name: 'Rudolph Hessel'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-24T09:02:46.000000Z'
                    updated_at: '2022-05-24T09:02:46.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 113
                      name: 'Rudolph Hessel'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-24T09:02:46.000000Z'
                      updated_at: '2022-05-24T09:02:46.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - 'Authenticated user'
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.icore.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 110
                    name: 'Mrs. Lucile Wisozk'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-24T09:02:41.000000Z'
                    updated_at: '2022-05-24T09:02:41.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T17:27:36.000000Z'
                        updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 110
                      name: 'Mrs. Lucile Wisozk'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-24T09:02:41.000000Z'
                      updated_at: '2022-05-24T09:02:41.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1151
                      name: 'Exercitationem et'
                      slug: exercitationem-et
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:02:44.000000Z'
                      updated_at: '2022-05-24T09:02:44.000000Z'
                    -
                      id: 1152
                      name: 'Ea exercitationem'
                      slug: ea-exercitationem
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:02:44.000000Z'
                      updated_at: '2022-05-24T09:02:44.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1151
                        name: 'Exercitationem et'
                        slug: exercitationem-et
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                      -
                        id: 1152
                        name: 'Ea exercitationem'
                        slug: ea-exercitationem
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1149
                      name: 'Ut consequuntur'
                      slug: ut-consequuntur
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:02:44.000000Z'
                      updated_at: '2022-05-24T09:02:44.000000Z'
                    -
                      id: 1150
                      name: 'Fuga dolores'
                      slug: fuga-dolores
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:02:44.000000Z'
                      updated_at: '2022-05-24T09:02:44.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1149
                        name: 'Ut consequuntur'
                        slug: ut-consequuntur
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                      -
                        id: 1150
                        name: 'Fuga dolores'
                        slug: fuga-dolores
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 175
                      slug: rerum-accusamus-repellendus-qui
                      title: 'Rerum accusamus repellendus qui.'
                      short_content: 'Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste '
                      content: 'Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.'
                      content_html: '<p>Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.</p>'
                      no_more_content_html: '<p>Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.</p>'
                      less_content_html: '<p>Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.</p>'
                      seo_title: null
                      meta_title: 'Rerum accusamus repellendus qui.'
                      seo_desc: 'Est a odit totam eum qui nulla. Nihil quia et similique. Reprehenderit sit voluptatem eius qui sed a corporis. Sint nisi et voluptate voluptas quia. Et quaerat pariatur magni ipsam ut non qui iste.'
                      meta_desc: 'Est a odit totam eum qui nulla. Nihil quia et similique. Reprehenderit sit voluptatem eius qui sed a corporis. Sint nisi et voluptate voluptas quia. Et quaerat pariatur magni ipsam ut non qui iste.'
                      seo_noindex: 1
                      seo_nofollow: 0
                      status:
                        value: 1
                        label: active
                      comment: 1
                      first_image: null
                      published_at: '2021-11-01T07:41:50.000000Z'
                      created_at: '2022-05-24T09:02:44.000000Z'
                      updated_at: '2022-05-24T09:02:44.000000Z'
                      user:
                        id: 111
                        name: 'Mr. Robert Feeney MD'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/rerum-accusamus-repellendus-qui'
                    -
                      id: 176
                      slug: eius-qui-enim-omnis-repudiandae
                      title: 'Eius qui enim omnis repudiandae.'
                      short_content: 'Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus dese'
                      content: 'Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.'
                      content_html: '<p>Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.</p>'
                      no_more_content_html: '<p>Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.</p>'
                      less_content_html: '<p>Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.</p>'
                      seo_title: 'Aliquid inventore aperiam sint.'
                      meta_title: 'Aliquid inventore aperiam sint.'
                      seo_desc: 'Ipsum soluta ea laborum. Earum perferendis autem qui sed. Quae eveniet ut possimus sapiente quos eos sunt assumenda. Accusantium quia dolorum beatae excepturi ut dolorum et.'
                      meta_desc: 'Ipsum soluta ea laborum. Earum perferendis autem qui sed. Quae eveniet ut possimus sapiente quos eos sunt assumenda. Accusantium quia dolorum beatae excepturi ut dolorum et.'
                      seo_noindex: 1
                      seo_nofollow: 0
                      status:
                        value: 1
                        label: active
                      comment: 0
                      first_image: null
                      published_at: '2021-12-03T10:25:20.000000Z'
                      created_at: '2022-05-24T09:02:44.000000Z'
                      updated_at: '2022-05-24T09:02:44.000000Z'
                      user:
                        id: 112
                        name: 'Joaquin Nolan'
                        status:
                          value: 0
                          label: inactive
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                      links:
                        web: 'http://demo.icore.intelekt.net.pl/posts/eius-qui-enim-omnis-repudiandae'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 175
                        slug: rerum-accusamus-repellendus-qui
                        title: 'Rerum accusamus repellendus qui.'
                        short_content: 'Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste '
                        content: 'Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.'
                        content_html: '<p>Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.</p>'
                        no_more_content_html: '<p>Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.</p>'
                        less_content_html: '<p>Adipisci aut maxime iusto deleniti culpa. Atque eveniet itaque eos ut blanditiis iste doloremque. Ut est tenetur voluptate a. Qui omnis voluptas at. Impedit nulla est porro et. Consectetur ullam sequi harum velit. Ipsa quo quisquam earum at omnis amet. Distinctio quibusdam et quia accusantium est. Rerum corrupti nobis labore rerum explicabo praesentium. Nemo vel quo tempora deleniti rerum. Sed repudiandae optio accusamus aut est modi vitae sed. Tempore enim nihil occaecati aut non. Eum sed iste maiores consequatur dolore. Necessitatibus sed voluptatem molestiae sed iure voluptatem tempora. Id deserunt possimus consequatur quasi repudiandae nihil nostrum soluta. Corrupti facere quos quia. Perferendis qui suscipit velit aspernatur tempore eaque debitis. Ducimus nihil rem fuga et et molestiae vel. Voluptas qui sint accusamus et. Quasi soluta quo qui eum voluptas. Rerum dolorem quia incidunt enim iusto. Iusto atque quo est itaque voluptas incidunt. Voluptatum rerum eos sit et eum impedit. Minima at commodi dolor dolorem facere. Neque veniam facere occaecati commodi minima laborum ea. Maiores debitis nostrum omnis et totam dolor aut. Dolorem possimus qui sed omnis. Occaecati hic beatae tempora autem doloremque molestiae non. Doloribus ratione voluptas non quia corrupti qui deserunt. Nemo nisi autem deleniti quia. Itaque nihil quis sit quo voluptate odit quod. Veniam perspiciatis velit est non dolor. Libero laboriosam distinctio nostrum molestiae architecto ut. Alias nam eveniet quia ipsa sint. Ipsum possimus ab magni ipsum eaque et praesentium. Voluptas eos vel consequuntur aut possimus voluptatem repellat. Nesciunt delectus numquam vel vel. Quod aperiam possimus quidem optio. Et vel voluptatum nulla cum et sed non. Fuga voluptate molestiae veritatis rerum aut voluptatibus sapiente omnis. Veniam fuga rerum illum laborum.</p>'
                        seo_title: null
                        meta_title: 'Rerum accusamus repellendus qui.'
                        seo_desc: 'Est a odit totam eum qui nulla. Nihil quia et similique. Reprehenderit sit voluptatem eius qui sed a corporis. Sint nisi et voluptate voluptas quia. Et quaerat pariatur magni ipsam ut non qui iste.'
                        meta_desc: 'Est a odit totam eum qui nulla. Nihil quia et similique. Reprehenderit sit voluptatem eius qui sed a corporis. Sint nisi et voluptate voluptas quia. Et quaerat pariatur magni ipsam ut non qui iste.'
                        seo_noindex: 1
                        seo_nofollow: 0
                        status:
                          value: 1
                          label: active
                        comment: 1
                        first_image: null
                        published_at: '2021-11-01T07:41:50.000000Z'
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                        user:
                          id: 111
                          name: 'Mr. Robert Feeney MD'
                          status:
                            value: 1
                            label: active
                          created_at: '2022-05-24T09:02:44.000000Z'
                          updated_at: '2022-05-24T09:02:44.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/rerum-accusamus-repellendus-qui'
                      -
                        id: 176
                        slug: eius-qui-enim-omnis-repudiandae
                        title: 'Eius qui enim omnis repudiandae.'
                        short_content: 'Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus dese'
                        content: 'Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.'
                        content_html: '<p>Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.</p>'
                        no_more_content_html: '<p>Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.</p>'
                        less_content_html: '<p>Modi modi assumenda blanditiis voluptatem asperiores laudantium quam. Est ad delectus et error. Tempore dignissimos enim et consequatur mollitia commodi. Temporibus consequuntur eius sequi excepturi nulla iste rerum. Non laborum harum quam ipsum qui eos. Rerum excepturi totam tenetur autem voluptatem cupiditate. Atque soluta reprehenderit officia. Ipsam ipsa et non totam. Eos velit animi dolorum voluptatem. Qui molestiae dolore ab illum eum facilis veritatis eveniet. Corporis nobis possimus deserunt eveniet. Debitis ab et ad impedit sint mollitia accusamus. Officia est assumenda rem delectus illum. Quaerat quis eos modi consequatur qui quia ullam. Commodi mollitia harum qui. Exercitationem labore voluptatibus quibusdam et repellat voluptas. Tempore repellendus officia ipsa facilis aliquid. Magnam eos expedita assumenda sed dolores. Dolores fugiat autem ratione at quos cumque. Adipisci deserunt et assumenda cupiditate quo rem ad ut. Sunt facere quam saepe at accusamus eligendi. Aut excepturi ad natus et vel et. Doloremque dolores nihil velit quod repudiandae praesentium explicabo dolorem. Sunt eveniet amet ipsam aut eos. Nostrum assumenda recusandae minima. Alias nihil quas adipisci. Rerum commodi laborum vel consequatur eius et autem. Consequatur repellat est voluptatum qui enim. Odit rem quas sed id commodi. Non iusto et id atque nesciunt ducimus. Ea est iste voluptatem facere. Odio eveniet voluptatem consequatur possimus aspernatur velit. Ipsum odio molestiae laborum. Minima eveniet ut quod et earum modi. Itaque aspernatur rem ducimus dolorum. Aut placeat perferendis ratione in. Nesciunt distinctio ea id provident. Eos explicabo quibusdam aut voluptatibus totam. Quos quod cum explicabo quis. Velit accusantium et doloribus quos vitae quasi. Quo et debitis sint qui neque. Rerum voluptatem et optio mollitia rerum quod harum. Eos officia itaque et esse est est voluptatem.</p>'
                        seo_title: 'Aliquid inventore aperiam sint.'
                        meta_title: 'Aliquid inventore aperiam sint.'
                        seo_desc: 'Ipsum soluta ea laborum. Earum perferendis autem qui sed. Quae eveniet ut possimus sapiente quos eos sunt assumenda. Accusantium quia dolorum beatae excepturi ut dolorum et.'
                        meta_desc: 'Ipsum soluta ea laborum. Earum perferendis autem qui sed. Quae eveniet ut possimus sapiente quos eos sunt assumenda. Accusantium quia dolorum beatae excepturi ut dolorum et.'
                        seo_noindex: 1
                        seo_nofollow: 0
                        status:
                          value: 1
                          label: active
                        comment: 0
                        first_image: null
                        published_at: '2021-12-03T10:25:20.000000Z'
                        created_at: '2022-05-24T09:02:44.000000Z'
                        updated_at: '2022-05-24T09:02:44.000000Z'
                        user:
                          id: 112
                          name: 'Joaquin Nolan'
                          status:
                            value: 0
                            label: inactive
                          created_at: '2022-05-24T09:02:44.000000Z'
                          updated_at: '2022-05-24T09:02:44.000000Z'
                        links:
                          web: 'http://demo.icore.intelekt.net.pl/posts/eius-qui-enim-omnis-repudiandae'
                    items:
                      type: object
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.categories.view) 0, 2.'
                      example: 1
                    category:
                      type: integer
                      description: 'ID of category contains posts.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/tags/index:
    post:
      summary: 'Index of tags'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 174
                      name: Eos
                      slug: eos
                      created_at: '2022-05-24T09:02:46.000000Z'
                      updated_at: '2022-05-24T09:02:46.000000Z'
                    -
                      id: 175
                      name: Est
                      slug: est
                      created_at: '2022-05-24T09:02:46.000000Z'
                      updated_at: '2022-05-24T09:02:46.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 174
                        name: Eos
                        slug: eos
                        created_at: '2022-05-24T09:02:46.000000Z'
                        updated_at: '2022-05-24T09:02:46.000000Z'
                      -
                        id: 175
                        name: Est
                        slug: est
                        created_at: '2022-05-24T09:02:46.000000Z'
                        updated_at: '2022-05-24T09:02:46.000000Z'
                    items:
                      type: object
      tags:
        - Tags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>sum|asc</code>, or <code>sum|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/tokens:
    post:
      summary: 'Create token'
      description: "Create personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.create.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be between 3 and 255 characters.'
                  example: Access
                expiration:
                  type: integer
                  description: 'Token expiration time on days. If null is unlimited. Must not be greater than 1000.'
                  example: 7
                abilities:
                  type: array
                  description: 'Array containing scopes. Wildcard supported. Must be one of <code>api.*</code>, <code>api.users.*</code>, <code>api.users.view</code>, <code>api.categories.*</code>, <code>api.categories.view</code>, <code>api.tags.*</code>, <code>api.tags.view</code>, <code>api.posts.*</code>, <code>api.posts.view</code>, <code>api.tokens.*</code>, <code>api.tokens.create</code>, or <code>api.tokens.delete</code>.'
                  example:
                    - 'api.*'
                  items:
                    type: string
              required:
                - name
                - abilities
  '/api/tokens/{token}':
    delete:
      summary: 'Delete token'
      description: "Delete personal access token.\n\n<aside class=\"notice\">Available only to users with permissions: api.access and api.tokens.delete.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Tokens
    parameters:
      -
        in: path
        name: token
        description: 'The token ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/users/index:
    post:
      summary: 'Index of users'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.users.view and admin.users.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 114
                      name: 'Nico Lockman'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-24T09:02:46.000000Z'
                      updated_at: '2022-05-24T09:02:46.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                    -
                      id: 115
                      name: 'Miss Loma Welch'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-24T09:02:46.000000Z'
                      updated_at: '2022-05-24T09:02:46.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T17:27:36.000000Z'
                          updated_at: '2022-04-23T22:28:13.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 114
                        name: 'Nico Lockman'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-05-24T09:02:46.000000Z'
                        updated_at: '2022-05-24T09:02:46.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                      -
                        id: 115
                        name: 'Miss Loma Welch'
                        status:
                          value: 1
                          label: active
                        created_at: '2022-05-24T09:02:46.000000Z'
                        updated_at: '2022-05-24T09:02:46.000000Z'
                        roles:
                          -
                            id: 3
                            name: user
                            created_at: '2021-01-06T17:27:36.000000Z'
                            updated_at: '2022-04-23T22:28:13.000000Z'
                    items:
                      type: object
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.users.view).'
                      example: 1
                    role:
                      type: integer
                      description: ''
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, or <code>updated_at|desc</code>.'
                      example: created_at|desc
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
tags:
  -
    name: 'Authenticated user'
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/user.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\UserController"
  -
    name: Authentication
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/auth.php\n\n> Controllers:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\RegisterController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Auth\\TokenController"
  -
    name: Categories
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/categories.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\CategoryController\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Category\\Post\\CategoryController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Category\\CategoryResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.categories.* - access to all categories endpoints\n- api.categories.view - access to endpoints with collection of categories"
  -
    name: Posts
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/posts.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Post\\PostController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Post\\PostResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.posts.* - access to all posts endpoints\n- api.posts.view - access to endpoints with collection of posts"
  -
    name: Tags
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tags.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Tag\\TagController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\Tag\\TagResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tags.* - access to all tags endpoints\n- api.tags.view - access to endpoints with collection of tags"
  -
    name: Tokens
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/tokens.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\Token\\TokenController\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.tokens.* - access to all tokens endpoints\n- api.tokens.create - access to create token endpoint\n- api.tokens.delete - access to delete token endpoint"
  -
    name: Users
    description: "\n> Routes:\n\n    /routes/vendor/icore/api/users.php\n\n> Controller:\n\n    N1ebieski\\ICore\\Http\\Controllers\\Api\\User\\UserController\n\n> Resource:\n\n    N1ebieski\\ICore\\Http\\Resources\\User\\UserResource\n\nPermissions:\n\n- api.* - access to all api endpoints\n- api.users.* - access to all users endpoints\n- api.users.view - access to endpoints with collection of users"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
