// Dark styles bootstrap

.breadcrumb.bg-white {
    background-color: $body-bg !important;
}

.navbar.navbar-light {
    @extend .navbar-dark;
}

.navbar.bg-light {
    @extend .bg-dark;
}

.navbar-brand .logo {
    filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(80deg) brightness(117%) contrast(101%);
}

.sidebar.bg-light {
    @extend .bg-dark;
}

.sidebar {
    @extend .navbar-dark;

    .nav-item {
        .nav-link {
            color: $gray-500;

            &:focus,
            &:hover {
                color: $gray-400;
            }
        }
    }
}

li.page-item:not(.active) .page-link:not(:hover) {
    background-color: $gray-400 !important;
    color: $black !important;
}

.border {
    border-color: $modal-content-border-color !important;
}

.border-bottom {
    border-bottom-color: $modal-content-border-color !important;
}

.border-top {
    border-top-color: $modal-content-border-color !important;
}

.border-right {
    border-right-color: $modal-content-border-color !important;
}

.border-left {
    border-left-color: $modal-content-border-color !important;
}

.border-primary {
    border-color: $primary !important;
}

.btn-outline-secondary {
    @extend .btn-outline-light;
}

.dropdown-menu {
    background-color: $gray-400;

    .dropdown-header {
        color: $black;
    }
}

.popover-header, .popover-body {
    background-color: $gray-400;
    color: $black;
}

// Dark trumbowyg
button[class^='trumbowyg-'] {
    color: #ecf0f1;
}

// Dark tagsinput
.tagsinput {
    background-color: $black !important;
    div input {
        color: $white;
    }
}

// Dark scroll-to-top
.scroll-to-top, .select-action {
    color: $black;
    background: fade-out($gray-100, .5);
}

// Dark file manager
.fm {
    background-color: $background !important;
}

.fm-table thead th {
    background-color: $background !important;

    &:hover {
        background-color: $gray-400 !important;
        color: $black !important;        
    }
}

.fm-table tr:hover {
    background-color: $gray-400 !important;
    color: $black !important;    
}

.fm-tree .fm-tree-disk {
    background-color: $background !important;    
}

.fm-tree-branch li > p.selected, .fm-tree-branch li > p:hover {
    background-color: $gray-400 !important;
    color: $black !important;      
}

.fm-grid .fm-grid-item {
    &:not(.active):hover {
        background-color: $gray-400 !important;
        color: $black !important;      
    }

    &.active {
        color: $black !important;
    }
}

.fm-context-menu {
    background-color: $gray-800 !important;

    ul > li:hover {
        background-color: $gray-400 !important;
        color: $black !important;             
    }
}

.fm-breadcrumb .breadcrumb-item {
    color: #6c757d !important;
}